.Card {
    /* border: 2px ridge black; */
    border-radius: 10px;
    padding: 20px;
    max-width: 26.3%;
    box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.2),0px 10px 14px 1px rgba(0,0,0,0.14),0px 4px 18px 3px rgba(0,0,0,0.12);
    margin: 1.33%;
    background-color: rgb(79, 77, 77) ; /*f9f9f9*/
    color: white;
}


/* .numTable {
    max-width:100%;
    background-color: brown;
    table-layout: fixed;
} */