nav {
    /* background-color: #C01f26; */
    background: linear-gradient(135deg, #ff6200, #C01f26);
}
/* Later: https://fossheim.io/writing/posts/css-text-gradient/ */
.nav-text{
    /* background-color: magenta; */
    
    font-weight: 700;
    font-style: normal;
    font-size:4em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    

    background: linear-gradient(180deg, #f7f781be, #ffd900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: #F18F43;
    color: transparent;
    
      
}

@keyframes shine {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }

img {
    vertical-align: middle;
}